[tsm_clients]
127.0.0.1 ansible_user=user ansible_password=password ansible_connection=ssh

[tsm_ms_sql]
127.0.0.1 ansible_user=administrator ansible_password=password

[cluster_nodes_win]
127.0.0.1 ansible_user=administrator ansible_password=password

[cluster_nodes_win:vars]
ansible_port=5985
ansible_winrm_transport=credssp
ansible_connection=winrm
ansible_user=default-user
ansible_password=CHANGE_WINRM_PASSWORD

; for Linux machines
[tsm_clients:vars]
;ansible_private_key_file=~/.ssh/id_ed25519
;ansible_ssh_extra_args='-o StrictHostKeyChecking=no
